/*
=================
Main Styles
=================
*/
body {
	background: url("../images/field.jpeg") no-repeat center center fixed;
	background-size: cover;
	color: #543FBC;
	font-family: 'Nunito', sans-serif;
}
h1 {
	font-family: 'Leckerli One', cursive;
	text-shadow: -2px 3px 0 #82DEB9;
}
h2, h3 {
	text-shadow: -1px 2px 0 #C4F2DF, -2px 2px 0 #9C8EE0;
	margin-top: 5px;
	margin-bottom: 5px;
}
.btn-default {
	background-color: #82DEB9;
}
.btn-default:hover {
	background-color: #2CB980;
}
.center-block{
	display: flex;
    justify-content: space-around;
}
/*
=================
Titles
=================
*/
.main-title, 
.arena-title {
	background-color: #C4F2DF;
	box-shadow: 2px 2px 2px 5px #9C8EE0;
}
.main-title {
	box-shadow: 0px 2px 2px 1px #9C8EE0;
}
.arena-title {
	border-radius: 5px;
	height: 10%;
	min-height: 145px;
	box-shadow: 2px 2px 2px 1px #9C8EE0;
}
/*
=================
Characters
=================
*/
.character {
	display: inline-block;
	align-content: center;
	width: 180px;
	margin: 2px;
	padding: 12px 2px 0px 2px;
	background-color: #51CA99;
	border-radius: 20px;
	box-shadow: 2px 2px 2px 1px #9C8EE0;
}
.character:hover {
	display: inline-block;
	align-content: center;
	width: 180px;
	margin: 0px 2px 0px 2px;
	padding: 12px 2px 0px 2px;
	background-color: #82DEB9;
	border-radius: 20px;
}
.character > img {
	margin: auto;
	border-radius: 5px;
}
.player-character{
	border: solid;
	border-width: 4px;
	border-color: #C984DC; 
}
.current-enemy {
	border: solid;
	border-width: 4px;
	border-color: #00B16A; 
	box-shadow: 2px 2px 2px 1px #9C8EE0;
}
.waiting-enemies {
	background-color: #9830B5;
	color: #C4F2DF;
}
.waiting-enemies:hover {
	background-color: #C984DC;
	color: #C4F2DF;
}
.chosen-characters{
	display: none;
}
.healthPointsText {
	text-align: center;
}
.character > p {
	margin: 0;
}